html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{
    box-sizing:border-box;
}
html, body {
    min-height: 100%;
    background: #FAFAFE;
    font-family:"PingFang-SC-Regular";
}
/* 清除滚动条 */
body * ::-webkit-scrollbar {
    display: none ;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
    overflow: hidden;
}
img {
    border: none;
    display: block;
}
input, textarea {
    outline: none;
    border: none;
    resize:none ;
}

.fl {
    float: left
}
.fr {
    float: right
}
.tl {
    text-align: left;
}
.tc {
    text-align: center
}
.tr {
    text-align: right;
}
.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flex{
    display: flex;
}
.flexc{
    display: flex;
    justify-content: space-between;
}
/* 横向拖动 */
.overx{
    overflow-x: scroll;
    white-space: nowrap;
}
/* 页面底部 */
.footer{
    width: 100%;
    height: 1.08rem;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 1;
}
.footer_o{
    width: .7rem;
    height: 100%;
    padding-top: .2rem;
    text-align: center;
    color: #A5A5C1;
}
.container .footer .active i{
    color: #5E43F5 ;
}
.container .footer .active p{
    color: #5E43F5 ;
}
.footer_o i{
    font-size: .45rem;
}
.footer_o p{
    font-size: .22rem;
    line-height: .3rem;
}
/* 常规头部 */
.head{
    width: 100%;
    height: .88rem;
    background: #fff;
    position: fixed;
    top: 0;
    line-height: .88rem;
    z-index: 1;
}
.head i{
    color: #aaa;
    margin-left: .26rem;
}
.head p{
    font-size: .4rem;
    color: #333;
    font-weight: bold;
    margin-left: .6rem;
}
.head span{
    font-size: .28rem;
    color: #333;
    margin-right: .3rem;
}
/* 蒙版 */
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #000;
    opacity:0.55;
    z-index: 1;
}
.none{
    display: none;
}
.block{
    display: block;
}