body{
    background:rgba(245,245,249,1);
}

/* 地址管理开始 */
.header{
    display: flex;
    align-items: center;
    width:100%;
    height:.93rem; 
    position: fixed;
    z-index: 2;
    top: 0;
    font-size: 0;
    background: #FFFFFF;
    border-bottom: .01rem solid rgba(246,246,246,1);
}

.iconiconfontjiantou1{
    margin-left:.28rem;
    font-size: .3rem;
    color:#999999;
}
.header-write{ 
    margin-left:2.6rem;
    text-align: center;
    font-size:.36rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}

/* 地址开始 */
.receiver{
    width: 100%;
    font-size: 0;
    height: auto;
    margin-top:.2rem;
}
.message{
    position: relative;
}
.receiver-first{
    margin-top: 1.13rem;
}
.name{
    position: absolute;
    font-size:.32rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-left: .28rem;
    margin-top:.39rem;
}
.phone{
    margin-left: 1.58rem;
    margin-top:.39rem;
}

.location-detail{
    color:rgba(153,153,153,1);
    font-size:.28rem;
    margin-left: .28rem;
    margin-top: .96rem;
    margin-right: .443rem;
}
.border{
    position: absolute;
    width:6.94rem;
    height:1px;
    margin-left: .28rem;
    background:rgba(238,238,238,1);
    margin-top: 2.08rem;
}

 .receiver .iconbig-circle{
    color:#333C3C;
  }
.zero-address{
    font-size:.24rem;
    position: absolute;
    color:rgba(102,102,102,1);
    margin-left: 2.56rem;
    margin-top: 2.41rem;
}
.fl{
    font-size:.24rem;
    width:1.08rem;
    height:.52rem;
    border:.01rem solid rgba(221,221,221,1);
    border-radius:.06rem;
    text-align: center;
    line-height: .52rem;
}
.address-delete{
    position: absolute;
    margin-left: 4.76rem;
    margin-top: 2.29rem;
}


/* 添加地址开始 */
.add-address{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    margin-top: 1.2rem;
    overflow: hidden;
}

/* 联系人开始  */
.add-left{
    width: 6.94rem;
    height: 0.89rem;
    margin: 0 auto;
    line-height: 0.89rem;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    position: relative;
}
.add-left .add-left-item{
    font-size: .28rem;
    color: #999999;
}
.add-left input{
    font-size: .28rem;
    color: #999999;
    margin-left: .25rem;
}
/* 性别开始 */
input[type="radio"] {
    display: none;
}
input[type="radio"]+label::before {
    content: "\a0";/*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: .36rem;/*小圆框大小*/
    height: .36rem;
    margin-right: .10rem;/*与字的距离*/
    border-radius: 50%;
    border: 1px solid #333C3C;
    background: #fff;/*未选框颜色*/
    box-sizing: border-box;
    margin-left: .5rem;/*圈之间距离*/
}
input[type="radio"]:checked+label::before {
    border: 1px solid #9C53F6;
    background: #9C53F6;
}
input[type="radio"]:checked+label:after {
    content: "";
    position: absolute;
    left:1.3rem;
    top:.35rem;
    width:.13rem;
    height: .1rem;
    border: .02rem solid #fff;/*对号颜色*/
    border-top-color: transparent;
    border-right-color: transparent; 
    transform: rotate(-45deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
/* 选择地区 */
.area {
    float: right;
}
/* 具体地址 */
#address-detail{
    margin-left: -.05rem;
}
.add-border{
    border: none;
}

/* 编辑地址开始 */
.edit-address{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    margin-top: 1.2rem;
    overflow: hidden;
}
.edit-address input::-webkit-input-placeholder{
    color:rgba(51,51,51,1);
}
#address-detail{
    margin-left: -.05rem;
    width: 5rem;
}



/* 底部开始 */
.footer{
    width: 100%;
    height: 1.88rem;  
    margin-top: .32rem;
    line-height: .88rem;
    text-align: center;
    overflow: hidden;
  }

.footer .footer-item{
    /* background:rgba(250,250,254,1); */
    /* position: fixed; */
    /* z-index: 2;
    position: relative; */
    /* bottom:.81rem; */
    width:6.94rem;
    height:.88rem;
    border:.01rem solid rgba(51,60,60,1);
    border-radius:.44rem;
    margin-left: .28rem;
    color:rgba(51,60,60,1);
  }
  