body{
    background: #FAFAFE;
}
/* 头部部分开始 */
.header{
    display: flex;
    align-items: center;
    width:100%;
    height:.93rem; 
    position: fixed;
    z-index: 2;
    top: 0;
    font-size: 0;
    background: #FFFFFF;
}

.iconiconfontjiantou1{
    margin-left:.28rem;
    font-size: .3rem;
    color:#999999;
}
.header-write{ 
    margin-left:2.6rem;
    text-align: center;
    font-size:.36rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}

/* 头部部分结束 */

/* 评价开始  */
.evaluate-many{
    margin-top: 1.13rem;
    width:100%;
    height: 8.7rem;
    background: rgba(255,255,255,1);
}
.product{
    position: relative;
    height: 1.73rem;
}
.product img{
    position: absolute;
    widows: 1.16rem;
    height: 1.16rem;
    margin-left: .27rem;
    margin-top: .26rem;
}
.ft{
    position: absolute;
    font-weight:400;
}
.warter{
    font-size:.28rem;
    color:rgba(51,51,51,1);
    margin-left: 1.62rem;
    margin-top: .2rem;
}
.ml{
    font-size:.24rem;
    color:rgba(153,153,153,1);
    margin-left: 1.65rem;
    margin-top: .70rem;
}
.ft-right{
    font-size:.28rem;
    color:rgba(153,153,153,1);
    margin-left: 7.01rem;
    margin-top: 1.2rem;
}
.ft-money{
    font-size:.28rem;
    color:rgba(51,51,51,1);
    margin-left: 1.58rem;
    margin-top: 1.1rem;
}
.line-all{
    height:1px;
    background:rgba(238,238,238,1);
    width: 100%;
    margin-left: 0;
}
.evaluate-tubiao{
    margin-top: .46rem;
    overflow: hidden;
    margin-bottom: .40rem;
}
.evaluate-tubiao .evaluate-fenshu-all{
    font-size:.28rem;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:.27rem;
    margin-left: .29rem;
}
.evaluate-tubiao .iconfont{
    padding-left: .2rem;
}
.evaluate-tubiao .evaluate-fenshu{
    float: right;
    font-size:.28rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-right: .27rem;
}
.evaluate-tubiao .iconfont{
    font-size: .35rem;
}
.message-content{
    width: 6.94rem;
    height: auto;
    margin: 0 auto;
}
.message {
    width: 6.94rem;
    height: 1.97rem;
    font-size:.28rem;
    /* margin: 0 auto; */
    color:#333333;
    box-sizing: border-box;
    padding-top: .29rem;
    padding-left: .31rem;
    background:rgba(250,250,254,1);
}
.message-content textarea::-webkit-input-placeholder {
	color:rgba(153,153,153,1);
	font-size: .28rem;
}
.go-picter{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: .40rem;
}
.go-picter .go-picter-content{
    width: 6.94rem;
    height: auto;
    margin: 0 auto;
}
.go-picter .go-top{
    width: 100%;
    font-size:.28rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.go-picter .go-top .go-third{
    font-size:.24rem;
    color:rgba(153,153,153,1);
    margin-left: .11rem;
}
.go-picter .go-many-picter{
    margin-top: .40rem;
    display: flex;
    justify-content: space-between;
}
.go-picter .many-picter-item{
    width: 2.11rem;
    height: 2.11rem;
}
.balck-submit{
    width: 2.11rem;
    height: 2.11rem;
    border: 1px dashed #999999;
}
.balck-submit .black-add{
    font-size: .55rem;
    text-align: center;
    color: #999999;
    margin-top: .2rem;
}
.balck-submit .black-main{
    text-align: center;
    font-size: .28rem;
    color: #999999;
}

.evaluate-submit{  
    width: 100%;
    height: .88rem;
    text-align: center;
    line-height: .88rem;    
}
.evaluate-submit-item{
    width: 100%;
    height: .88rem;
    position: fixed;
    bottom:0;
    z-index: 5;
    background:rgba(156,83,246,1);
}
