body{
    background: #FAFAFE;
}
 
/* 头部部分开始 */
.header{
    display: flex;
    align-items: center;
    width:100%;
    height:.93rem; 
    /* position: fixed;
    z-index: 2; */
    top: 0;
    font-size: 0;
    background: #FFFFFF;
}

.iconiconfontjiantou1{
    margin-left:.28rem;
    font-size: .3rem;
    color:#999999;
}
.header-write{ 
    margin-left:2.6rem;
    text-align: center;
    font-size:.36rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}

/* 头部部分结束 */


/* 商品评价部分开始 */
.many{
    width: 100%;
    height: 1.04rem;
    text-align: center;
    line-height: .54rem;
    overflow: hidden;
    background: #FFFFFF;
}
.many .many-item{
    width:1.93rem;
    height:.54rem;  
    border-radius:.27rem;
    font-size:.28rem;
    color: #FFFFFF;
    float: left;
    margin-top: .24rem;
    margin-left: .30rem;
}
.many-item-first{
    background:rgba(133,111,255,1);
}
.many-item-second{
    background:rgba(216,218,220,1);
}
/* 内容部分 */
.propuct-detail{
    margin-top: .1rem;
    
}
.propuct-content{
    margin-bottom: .1rem;
    background-color: #ffffff;
}
.ailisi{
    width: 100%;
    height: 4.83rem;
    background: #FFFFFF;
    overflow: hidden;
}
.ailisi-content{
    width: 100%;
    height: 4.83rem;
    position: relative;
}
.ailisi #ailisi-a{
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 0.28rem;
    margin-top: 0.3rem;
}
.ailisi .name, .time{
    position: absolute;
    color: #999999;
}
.ailisi .name{
    font-size: 0.28rem;
    margin-left: 0.11rem;
    margin-top: 0.37rem;
}
.ailisi .time{
    font-size: 0.22rem;
    margin-left:-.4rem;
    margin-top: 0.89rem;
}
.ailisi .tubiao{
    position: absolute;
    margin-top:-.26rem;
    margin-left: 3.72rem;
    font-size: 0.34rem;
}
.ailisi .tubiao .iconfont{
    padding-right: .1rem;
}
.ailisi .tubiao span{
    color: #9C53F6;
    padding-left: .05rem;
}
.ailisi .tubiao .yanse, .evaluate-tubiao .yanse{
    color: #9C53F6;
}
.ailisi .tubiao .yanseh, .evaluate-tubiao .yanseh {
    color: #999999;
    opacity: .5;
}

.all .time{
    font-size: 0.11rem;
    color: #999999;
    margin-top: -0.1rem;
    margin-left: 0.1rem;
    /* background-color: #fff; */
}
.ailisi .ailisi-news{
    position: absolute;
    font-size:.28rem;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-top: 1.34rem;
    margin-left: -.4rem;
    margin-right: .15rem;
    line-height: .43rem;
}
.picter-content{
    width: 6.94rem;
    height: 2.2rem;
    display: flex;
    justify-content: space-around;
    margin: 1.58rem auto 0;
}
.picter-content #picter-item{
    width: 2.2rem;
    height: 2.2rem ;
    margin-top: 0;
}

/* 商家回复开始 */
.reply{
    width:6.94rem;
    height:1.73rem;
    margin: 0 auto;
}
.reply-content{
    width:6.94rem;
    height:1.43rem;
    background:rgba(255,251,242,1);
}
.reply .who-reply{
    font-size:.24rem;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:.52rem;
    margin-left: .21rem;
}
.reply .reply-main{
    font-size:.24rem;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:.38rem;
    margin-left: .20rem;
    margin-right: .25rem;
}
.reply .img-nav{
    width: .96rem;
    height: .96rem;
}
.reply img{
    width: .96rem;
    height: .96rem;
    margin-left: 6.1rem;
    position: fixed;
    z-index: 2;
    bottom: 1.05rem;
}
