body{
    background: #FAFAFE;
}
/* banner部分开始 */
.banner {
    width: 100%;
    height: 7.5rem;
    position: relative;
  }
.banner .iconiconfontjiantou1{
    position: absolute;
    font-size: .25rem;
    z-index: 2;
    background:rgba(0,0,0,1);
    opacity:0.5;
    border-radius:50%;
    margin: .62rem 0 .20rem;
    margin-left: .20rem;
}
.banner .swiper-container .swiper-slide img {
    width: 7.5rem;
    height:7.5rem;
  }

/*分页器激活时的样式表现*/
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFFFFF;
  }
  
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 12px;
  }
  
.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 100%;
  }

/* 信息部分开始 */
.detail-new{
    width: 100%;
    height: 2.84rem;
    background-color: #FFFFFF;
    /* background-color: pink; */
    /* border: 1px solid red; */
}
.detail-new .detail-content{
    width: 100%;
    height: 2.84rem;
    position: relative;
}
.shop-price{
    position: absolute;
    font-size: 0.36rem;
    font-weight: bold;
    padding-top: 0.25rem;
    padding-left: 0.27rem;
    color: #F5B443;
}
.market-price{
    font-size: 0.24rem;
    padding-top: 0.8rem;
    padding-left: 0.27rem;
    color: #999999;
    text-decoration: line-through;
}
.china{
    line-height: .48rem;
    margin: .13rem auto 0;
    font-size: 0.32rem;
    font-weight: bold;
    color: #333333;
    margin-left: .29rem;
    /* word-wrap: break-word;
    word-break: break-all; */
}
.sold{
    width: 6.92rem;
    margin: .13rem auto 0;
    font-size: .24rem;
    color: #999999;
    display: flex;
    justify-content: space-between;
}

/* 图片部分开始 */
.detail-picter img{
    width: 100%;
    height: .84rem;
}

/*套餐部分开始 */
.combo{
    width: 100%;
    height:1.52rem;
    background-color: #ffffff;
    margin-top: .1rem;
}
.combo .spec{
    display: flex;
    justify-content: space-between;
    padding-top: .29rem;
    padding-left: .27rem;
    padding-right: .28rem;
    font-size: .28rem;
    color: #999999;
}
.combo .num{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: .2rem;
    padding-left: .28rem;
    padding-right: .28rem;
    font-size: .28rem;
    color: #999999;
}
.combo .quantity{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width:1.49rem;
    height:.36rem;
    color:rgba(204,204,204,1);
    border:1px solid rgba(204,204,204,1);
    border-radius:2px;
    margin-left: 5.39rem;
    line-height: .36rem;
    text-align: center;
}
.subtract, .add, .much{
    width: 33%;
    font-size:.28rem;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.much{
    border-left:1px solid rgba(204,204,204,1);
    border-right:1px solid rgba(204,204,204,1);
}


.evaluate{
    position: relative;
    width: 100%;
    height: .86rem;
    line-height: .86rem;
    border-bottom: 1px solid #EEEEEE;
    overflow: hidden;
}
.evaluate .line{
    position: absolute;
    width: 0.06rem;
    height: 0.25rem;
    margin-top: 0.31rem;
    margin-left: 0.28rem;
    background-color: #9c53f6;
}
.evaluate .evaluate-new{
    font-size:.28rem;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-left: .45rem;
}
.evaluate .evaluate-new span{
    color: #999999;
}
.evaluate .icongengduo{
    font-size: .15rem;
    color: #AAAAAA;
    position: absolute;
    margin-top: -0.85rem;
    margin-left: 7.11rem;
}

/* 内容部分 */
.ailisi{
    width: 100%;
    height: 4.83rem;
    background: #FFFFFF;
    overflow: hidden;
}
.ailisi-content{
    width: 100%;
    height: 4.83rem;
    position: relative;
}
.ailisi #ailisi-a{
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 0.28rem;
    margin-top: 0.3rem;
}
.ailisi .name, .time{
    position: absolute;
    color: #999999;
}
.ailisi .name{
    font-size: 0.28rem;
    margin-left: 0.11rem;
    margin-top: 0.37rem;
}
.ailisi .time{
    font-size: 0.22rem;
    margin-left:-.4rem;
    margin-top: 0.89rem;
}
.ailisi .tubiao{
    position: absolute;
    margin-top:-.26rem;
    margin-left: 3.72rem;
    font-size: 0.34rem;
}
.ailisi .tubiao .iconfont{
    padding-right: .1rem;
}
.ailisi .tubiao span{
    color: #9C53F6;
    padding-left: .05rem;
}
.ailisi .tubiao .yanse, .evaluate-tubiao .yanse{
    color: #9C53F6;
}
.ailisi .tubiao .yanseh, .evaluate-tubiao .yanseh {
    color: #999999;
    opacity: .5;
}

.all .time{
    font-size: 0.11rem;
    color: #999999;
    margin-top: -0.1rem;
    margin-left: 0.1rem;
    /* background-color: #fff; */
}
.ailisi .ailisi-news{
    position: absolute;
    font-size:.28rem;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-top: 1.34rem;
    margin-left: -.4rem;
    margin-right: .15rem;
    line-height: .43rem;
}
.picter-content{
    width: 6.94rem;
    height: 2.2rem;
    display: flex;
    justify-content: space-around;
    margin: 1.58rem auto 0;
}
.picter-content #picter-item{
    width: 2.2rem;
    height: 2.2rem ;
    margin-top: 0;
}


/* 商品详情部分开始 */


/* 底部开始 */
.footer{
    /* display: none; */
    /* 隐藏 */
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    height: .98rem;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    background:rgba(255,255,255,1);
    box-shadow:0px -4px 12px 0px rgba(192,192,192,0.3);
}
.service{
    float: left;
}
.ser-shop{
    float: left;
    width: 3.06rem;
    height: .98rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background:rgba(247,247,247,1);
}

.fl{
    width:2.20rem;
    height:.98rem;
    text-align: center;
    line-height: .98rem;
    float: right;
    font-size: .32rem;
}
.footer .iconfont{
    font-size: .40rem;
}

.join-shop{
    background:rgba(156,83,246,1);
    color: #FFFFFF;
}
.buy{
    color:rgba(156,83,246,1);
    background: #FFFFFF;
}

.footer p{
    font-size:.24rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}


/* 弹窗开始 */

.popup-top{
    position: relative;
}
.popup img{
    position: absolute;
    width: 2.43rem;
    height: 2.43rem;
    margin-left: .28rem;
    margin-top: .29rem;
}
.popup-five{
    position: absolute;
    font-size:.32rem;
    font-weight:400;
    color:rgba(51,51,51,1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 4.17rem;
    margin-left: 3rem;
    margin-top: .39rem;
}
.popup-cost, .popup-price{
    position: absolute;
    margin-left: 3rem;
}
.popup-cost{
    font-size:.36rem;
    font-weight:bold;
    color:rgba(245,180,67,1);
    margin-top: .99rem;
}
.popup-price{
    font-size:.24rem;
    font-weight:400;
    text-decoration:line-through;
    color:rgba(153,153,153,1);
    margin-top: 1.56rem;
}
.popup-center{
    width: 100%;
    margin-top: 3.11rem;
}
.popup-center .spec, .popup .number{
    font-size:.28rem;
    font-weight:400;
    color:rgba(153,153,153,1);
    margin-left: .29rem;
    margin-bottom: .20rem;
}
.popup-combo{
   overflow: hidden;
    /* display: flex;
    justify-content: space-around; */
}
.popup-combo .combo-item{
    float: left;
    margin-left: .29rem;
    width:3.20rem;
    height:.56rem;
    background:rgba(248,248,250,1);
    border:1px solid rgba(238,238,238,1);
    border-radius:.28rem;
    color:rgba(102,102,102,1);
    font-weight:400;
    font-size:.28rem;
    text-align: center;
    line-height: .56rem;
    margin-bottom: .30rem;
}
.popup-combo .right{
    float: right;
    margin-right: .30rem;
}
.popup-combo .active{
    background:rgba(156,83,246,1);
    border:1px solid rgba(156,83,246,1);
    color:rgba(255,255,255,1);
}
/* 套餐被激活 */
.popup-combo .combo-item:active{
    background:rgba(156,83,246,1);
    border:1px solid rgba(156,83,246,1);
    color:rgba(255,255,255,1);
}
.popup .quantity{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width:1.49rem;
    height:.36rem;
    color:rgba(204,204,204,1);
    border:1px solid rgba(204,204,204,1);
    border-radius:2px;
    margin-left: 5.39rem;
    line-height: .36rem;
    text-align: center;
    margin-top: -.65rem;
}
.subtract, .add, .much{
    width: 33%;
    font-size:.28rem;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.much{
    border-left:1px solid rgba(204,204,204,1);
    border-right:1px solid rgba(204,204,204,1);
}
.popup .number{
    margin-top: .1rem;
}
.popup-bottom{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: .88rem;
    bottom: 0;
    background: pink;
}
.popup-bottom-left{
    width:3.06rem;
    height:.88rem;
    font-size: .20rem;
    text-align: center;
    line-height: .88rem;
    float:left;
    background:rgba(247,247,247,1);
}
.popup-bottom-left span{
    color:rgba(245,180,67,1);
    font-size: .30rem;
}
.popup-bottom-center, .popup-bottom-right{
    width:2.20rem;
    height:.88rem;
    text-align: center;
    line-height: .88rem;
    float:left;
    font-size: .32rem;
}
.popup-bottom-center{
    background:rgba(255,255,255,1);
    color:rgba(156,83,246,1);
    margin-right: .01rem;
}
.popup-bottom-right{
    background:rgba(156,83,246,1);
    color: #FFFFFF;
}