body{
    background:rgba(245,245,249,1);
}

/* 设置开始 */
.header{
    display: flex;
    align-items: center;
    width:100%;
    height:.93rem; 
    position: fixed;
    z-index: 2;
    top: 0;
    font-size: 0;
    background: #FFFFFF;
    border-bottom: .01rem solid rgba(246,246,246,1);
}

.iconiconfontjiantou1{
    margin-left:.28rem;
    font-size: .3rem;
    color:#999999;
}
.header-write{ 
    margin-left:2.6rem;
    text-align: center;
    font-size:.36rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}

/* 具体内容开始 */
.set{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    overflow: hidden;
    margin-top: 1.03rem;
}
.set-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.11rem;
    border-bottom: 1px solid #eeeeee;
}
.set-item img{
    width: .93rem;
    height: .93rem;
    margin-right: .28rem;
    margin-top: .35rem;
}
.set-content .first{
    line-height: 1.58rem;
}

.set-left-item{
    margin-left: .28rem;
}
.set-right-item{
    margin-right: .28rem;
}
.set-item-radio{
    width: 100%;
    line-height: 1.11rem;
    border-bottom: 1px solid #eeeeee;
}
.set-item-radio .set-left-item{
    margin-right: 3.4rem;
}
.set-item-phone{
    margin-top: .2rem;
}
/* 性别开始 */
input[type="radio"] {
    display: none;
}
input[type="radio"]+label::before {
    content: "\a0";/*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: .36rem;/*小圆框大小*/
    height: .36rem;
    margin-right: .10rem;/*与字的距离*/
    border-radius: 50%;
    border: 1px solid #333C3C;
    background: #fff;/*未选框颜色*/
    box-sizing: border-box;
    margin-left: .5rem;/*圈之间距离*/
}
input[type="radio"]:checked+label::before {
    border: 1px solid #9C53F6;
    background: #9C53F6;
}
.phone{
    line-height: 1.09rem;
}
.set-content .null{
    width: 100%;
    height: .2rem;
    background:rgba(245,245,249,1);
}


/* 底部开始 */
.footer{
    width: 100%;
    height: .88rem;  
    margin-top: .32rem;
    line-height: .88rem;
    text-align: center;
  }

.footer .footer-item{
    /* background:rgba(250,250,254,1); */
    position: fixed;
    z-index: 2;
    bottom:.81rem;
    width:6.94rem;
    height:.88rem;
    border:.01rem solid rgba(51,60,60,1);
    border-radius:.44rem;
    margin-left: .28rem;
    color:rgba(51,60,60,1);
  }
