body{
    background: #FAFAFE;
}

/* 头部部分开始 */
.header{
    width: 100%;
    height: 3.61rem;
    background: url(../image/bg.png);
    background-size: 100% 3.61rem;
}
.header-content{
    overflow: visible;
    width: 100%;
    height: 100;
    position: relative;
}
.header-content #picter{
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    margin-top: .83rem;
    margin-left: .28rem;
}
.header-content .name{
    position: absolute;
    margin-top: 1.05rem;
    margin-left: 1.58rem;
    color: #FFFFFF;
    font-size: .32rem;
    font-weight: bold;
}
.header-content .common{
    position: absolute;
    margin-top: 1.49rem;
    margin-left: 1.58rem;
    
}
.header-content #vip{
    width: .21rem;
    height: .21rem; 
}
.header-content .common-vip{
    line-height: .18rem;
    font-size:0.2rem;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.header .iconxiaoxi2{
    position: absolute;
    font-size: .45rem;
    color: #FFFFFF;
    margin-left: 5.82rem;
    margin-top: .82rem;
}

.header .iconshezhi{
    position: absolute;
    font-size: .50rem;
    color: #FFFFFF;
    margin-top: .83rem;
    margin-left: 6.76rem;
}

/* banner部分开始 */
.banner{
     width: 6.94rem;
     height: 2.18rem;
     margin: -1.19rem auto 0;
     /* display: flex;
     overflow: hidden; */
     background: #FFFFFF;
     box-shadow:0px 0px .27rem 0px rgba(6,117,116,0.07);
     border-radius:.06REM;
     /* justify-content: space-between;
     align-items: center; 
     padding: 0 0.1rem; */
 }
.banner .my-order{
    position: relative;
    width: 100%;
    height: .85rem;
    line-height: .85rem;
    border-bottom: 1px solid #eeeeee;
}
.banner .my-order .left{
    position: absolute;
    font-size: .28rem;
    color: #111111;
    margin-left:.30rem;
}
.banner .my-order .right{
    position: absolute;
    font-size: 0.24rem;
    color: #999999;
    margin-left:5.02rem;
}
/* 图标部分开始 */
.banner-bottom{
    width: 100%;
    height: 1.32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-item{
    width: 20%;
    height: 100%;
    text-align: center;
    margin-top: .5rem;
}
.banner-bottom .icondaifukuan, .icontuikuan{
    font-size: .36rem;
    color: #993DB9;
}
.banner-bottom .banner-new{
    font-size:.24rem;
    font-weight:400;
    color:rgba(102,102,102,1);
}

/* 主要部分开始 */
.main{
    width:6.94rem;
    height:auto;
    background:rgba(255,255,255,1);
    border-radius:.20rem;
    margin: .20rem auto 0;
    font-size: 0;
}
.main-content{
    width: 100%;
    height: 3.01rem;
    box-shadow:0px 0px .27rem 0px rgba(6,117,116,0.07);
    border-radius:.06rem;
    margin-bottom: .2rem;
}
.main-item{
    width:100%;
    height: .94rem;
    line-height: .94rem;
    margin: 0 auto;
}
.main-item .iconfont {
    font-size:.32rem;
    margin-left: .32rem;
    /* border:1px solid rgba(51, 51, 51, 1);
    color: red; */
}
.main-write{
    font-size:.28rem;
    font-weight:400;
    color:rgba(17,17,17,1);
    margin-left: .22rem;
}

.main-item .icongengduo{
    /* font-size:.2rem; */
    width:.15rem;
    height:.27rem;
    margin-left: 4.32rem;
    color:#DDDDDD;
}

/* 底部 */
/* 底部开始 */
.footer {
    width: 100%;
    height: 1.08rem;
    /* padding-top: 1rem; */
  }
  .footer .footer-content {
    width: 100%;
    height: 1.08rem;
    position: fixed;
    z-index: 5;
    bottom: 0;
    overflow: hidden;
    background: #FFFFFF;
  }
  
  .footer .footer-content li {
    text-align: center;
    width: 25%;
    height: 1.08rem;
    float: left;
  }
  
  .footer .footer-content img {
    width: .47rem;
    height: .47rem;
    margin: 0.2rem auto 0;
  }
  
  .footer .footer-content p {
    font-size: .22rem;
    font-weight: 400;
  }
  
  .footer .active {
    color: #5e43f5;
  }
  #wode{
    background:linear-gradient(117deg,rgba(94,67,245,1),rgba(156,83,246,1));
  }