/* 定义主题色 */
/* 普通字体颜色 */
.app-font-color{
    color: #9C53F6!important;
}
/* 普通主题背景颜色 */
.app-bg-color{
    background-color: #9C53F6!important;
}
/* 普通主题边框颜色 */
.app-border-color{
    border: 1px solid #9C53F6!important;
}
/* 普通商品价格颜色 */
.app-price-Color{
   color: #F5B443!important;
}
/* 导航类激活 */
.nav-active{
   color: #9C53F6!important;
   border-bottom: 1px solid #9C53F6!important;
}
/* 分类页面slidebar激活 */
.sildebar-active{
    background-color: #fff!important;
    color: #9C53F6!important;
    border-left: .02rem solid #9c53f6!important;
    border-top:0!important;
}
.sildebar-active + .item{
    border-top: 0!important;
}
/* button类 */
.order-btn-bg{
    background-color: #9C53F6!important;
    color: #fff!important;
    border: none!important;
    text-align: center;
    height: .3rem;
    line-height: .3rem;
    border-radius: .03rem;
    font-size: .14rem;
}
.order-btn-nobg{
    border: 1px solid #9C53F6!important; 
    color: #9C53F6!important; 
    text-align: center; 
    height: .3rem; 
    line-height: .3rem; 
    border-radius: .03rem; 
    font-size: .14rem;
}
/* 注：购物车颜色需手动更改 */
/* 单排按钮 */
.btn-dan{
    height: .44rem;
    line-height: .44rem;
    font-size: .16rem;
    border-radius: 7%/50%; 
    -moz-border-radius:7%/50%; 
    -webkit-border-radius:7%/50%; 
    -o-border-radius:7%/50%; 
    -ms-border-radius:7%/50%; 
    text-align: center; 
}